# model: ollama:gemma3n:e4b
# model: ollama:gpt-oss:20b
model: opencode-zen:minimax-m2.1
keybindings: vi
function_calling: true
rag_embedding_model: nomic-embed-text:latest
clients:
- type: openai-compatible
  name: ollama
  api_base: http://127.0.0.1:11434/v1
  models:
  - name: llama3.2:3b
    max_input_tokens: 128000
    supports_function_calling: true

  - name: smallthinker:3b
    max_input_tokens: 32000

  - name: gemma3n:e4b
    max_input_tokens: 32000

  - name: gemma3:4b
    max_input_tokens: 128000
    supports_vision: true

  - name: gpt-oss:20b
    max_input_tokens: 128000
    supports_function_calling: true
    supports_reasoning: true

  - name: second_constantine/gpt-oss-u:20b
    max_input_tokens: 128000
    supports_reasoning: true

  - name: qwen3:14b
    max_input_tokens: 40000
    supports_function_calling: true
    supports_reasoning: true

  - name: devstral-small-2:24b
    max_input_tokens: 384000
    supports_vision: true
    supports_function_calling: true

  - name: glm-4.7-flash:latest
    max_input_tokens: 198000
    supports_function_calling: true
    supports_reasoning: true

  - name: nomic-embed-text-v2-moe:latest
    type: embedding

- type: openai
  name: opencode-zen
  api_base: https://opencode.ai/zen/v1
  api_key: your_api_key # FIXME
  models:
    - name: minimax-m2.1
      max_input_tokens: 200000
      supports_function_calling: true
