# model: ollama:gemma3n:e4b
# model: ollama:gpt-oss:20b
model: opencode-zen:glm-4.6
keybindings: vi
function_calling: true
rag_embedding_model: nomic-embed-text:latest
clients:
- type: openai-compatible
  name: ollama
  api_base: http://127.0.0.1:11434/v1
  models:
  - name: llama3.2:3b
    max_input_tokens: 128000
    supports_function_calling: true

  - name: phi4-reasoning:14b
    max_input_tokens: 32000

  - name: dolphin3:8b
    max_input_tokens: 128000

  - name: smallthinker:3b
    max_input_tokens: 32000

  - name: gemma3n:e4b
    max_input_tokens: 32000

  - name: gemma3:4b
    supports_vision: true
    max_input_tokens: 128000

  - name: gpt-oss:20b
    max_input_tokens: 128000
    supports_function_calling: true

  - name: deepcoder:14b
    max_input_tokens: 128000

  - name: qwen3:14b
    max_input_tokens: 40000
    supports_function_calling: true

  - name: qwen3-coder:30b
    max_input_tokens: 256000
    supports_function_calling: true

  - name: nomic-embed-text:latest
    type: embedding

- type: openai-compatible
  name: opencode-zen
  api_base: https://opencode.ai/zen/v1
  api_key: your_api_key # FIXME
  models:
    - name: glm-4.6
      max_input_tokens: 200000
      supports_function_calling: true
