[include]
	path = ~/.config/delta/catppuccin.gitconfig

[includeIf "gitdir:~/projects/"]
	path = ~/projects/.gitconfig.personal

[includeIf "gitdir:~/work/"]
	path = ~/work/.gitconfig.work

[core]
	excludesfile = ~/.gitignore
	pager = delta

[gpg]
	format = ssh

[commit]
	gpgsign = true

[interactive]
    diffFilter = delta --color-only

[delta]
	features = catppuccin-macchiato
